<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Competitions by Month</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Competitions by Month</h1>
    <p> aaaa {{ competitions_by_month }} </p>
    {% for month, competitions in object_list %}

        <div class="mb-4">
            <h2>{{ month }}</h2>
            <ul class="list-group">
                {% for competition in competitions %}
                    <li class="list-group-item">
                        <h3>{{ competition.title }} {{ competition.competition_id }}</h3>
                        <p>Start Date: {{ competition.start_date }}</p>
                        <p>Finish Date: {{ competition.finish_date }}</p>
                        <p>Online: {{ competition.online|yesno:"Yes,No" }}</p>
                        <p>Place: {{ competition.place }}</p>
                        <p>Description: {{ competition.description }}</p>
                    </li>
                    <a href="{% url 'rc_app:competition_details' competition.id %}" class="btn btn-primary">View
                        Details</a>
                {% empty %}
                    <li class="list-group-item">No competitions available for this month.</li>
                {% endfor %}
            </ul>
        </div>
    {% empty %}
        <p>No competitions available.</p>
    {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>